<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PugachBotTelegram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PugachBotTelegram.Properties.Settings>
      <setting name="OpenweathermapAppId" serializeAs="String">
        <value>KItyaSx1Cl4gZBh9+07AkarRbkttq16EfNNYgSLBGlNTYht+L9wHbzDH7EGqOCzkUNi9xqGcLZAWgIb8ixjraFkOLpAJiJUPeM+zpqHrJUY=</value>
      </setting>
      <setting name="TelegramToken" serializeAs="String">
        <value>ix6LTEenYBc5oMPvBTz1kYdnXdsnBVdxiyg1IsFmJvAdEPDiMvDGQPr/rtXkf4Ms1RycM9pV8Lr2WHHdrgFAzlAZMGzRmjVaqX3kvi6k2AAkLbqeMT/AmNMNa57RG4SJ</value>
      </setting>
    </PugachBotTelegram.Properties.Settings>
  </userSettings>
</configuration>