<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PugachBotTelegram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PugachBotTelegram.Properties.Settings>
      <setting name="OpenweathermapAppId" serializeAs="String">
        <value>KItyaSx1Cl4gZBh9+07AkarRbkttq16EfNNYgSLBGlNTYht+L9wHbzDH7EGqOCzkUNi9xqGcLZAWgIb8ixjraFkOLpAJiJUPeM+zpqHrJUY=</value>
      </setting>
      <setting name="TelegramToken" serializeAs="String">
        <value> sLNifNtyZ0ibMd8A9jtIGY52b3sIAHF1TaD77n2ukuQHv1XOPhcaleyqLzscJBn/J3ZXAfgzxe9khUNuPmxU5z0XcydeF1Xzwq8UXg/ayQzGXwE+KNf6UEHD/oy3Mo12k7LTbM9ZFap8xjjiU3IV7mNXsZgJBVlyzZbzP4NNXq0vZ5svMc8DbHxmv0qbjVzO0d7r1UdYKEElYmSKcTc1AdIkjUsUgcTzktY7JD5Oz9LwdPXHNPN0prhtu0hYPoWegMvj5i1LdlMCGmaEWjLJQwYYJVYQqomNCYsrhDV28cwyP67KC+RAI5N7rLkeN9qB8dLIE0XWlp7jTWW6q1hz/NAaHPBuJ0m3iH/OqtYqr60=</value>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value>KAeF9DHA1rFGyWgB5+mj8w==</value>
      </setting>
      <setting name="kateId" serializeAs="String">
        <value>0</value>
      </setting>
    </PugachBotTelegram.Properties.Settings>
  </applicationSettings>
</configuration>